[2017-03-15 07:59] petrsvihlik opened #1 "Demonstrate the code first approach"
The Delivery client 4.0.0 brings new functionality in terms of retrieving strongly-typed models.
It's documented here: https://github.com/Kentico/delivery-sdk-net/wiki/Working-with-Strongly-Typed-Models-(aka-Code-First-Approach)

We should demonstrate the usage on this sample site.

Steps:

0) Create a free kentico cloud account, a sample project will be generated
1) Spin up the web site according

[2017-03-20 14:04] petrsvihlik opened #2 "Demonstrate the multiple choice element"
Once we add relevant sample content to the sample project we'd like to update this sample app to reflect the changes and demonstrate the multiple choice element.

Internal reference: DEL-680

[2017-03-20 14:15] petrsvihlik opened #3 "Demonstrate the URL slug"
Once we add relevant sample content to the sample project we'd like to update this sample app to reflect the changes and demonstrate the URL slug functionality.

Internal reference: DEL-665

[2017-03-21 16:29] petrsvihlik opened #4 "Support runnable templates"
Similarly to https://github.com/Kentico/cloud-boilerplate-net/issues/1, we'd like to support the new VS tooling and be able to install the site using the `dotnet new` command.

Ideally, the template should be parameterized with the project guid.

All necessary resources can be found in the related task.

[2017-03-31 08:11] #1 closed

[2017-03-31 08:16] petrsvihlik opened #8 "Refactor Product Detail"
Product [Detail](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Views/Product/Detail.cshtml) view now serves Coffee and Brewer models which causes ugly [`isCoffee`](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Views/Product/Detail.cshtml#L6) switches.

It should be refactored in a way that the shared product-related markup is stored in the Detail

[2017-04-03 12:50] JanLenoch opened #9 "Try Advanced Routing/Filtering Scenarios"
Try some advanced routing scenarios to verify whether there needs to be support for them in the KC product itself. Or, whether it is possible (or even better) to implement them on the app side.

The goal is to verify whether the MVC app could return proper content based on such types of URLs.

Scenario 1:

- `blog/`
    - `april-2017/` (automatically recognized in requests and mapped to month and

[2017-04-03 12:57] JanLenoch opened #10 "Demonstrate the MVC Display Templates"
Demonstrate the flexibility of the ASP.NET Display Templates (http://bradwilson.typepad.com/blog/2009/10/aspnet-mvc-2-templates-part-1-introduction.html)

[2017-04-05 11:18] #10 closed

[2017-04-05 14:21] JanLenoch commented on #9
Too wide ad unexplored topic for a public issue.

[2017-04-05 14:21] #9 closed

[2017-04-26 09:54] JanLenoch commented on #4
A quick documentation to give you a good head start.

The new templating functionality is super easy for developers. Basically, moving a few files and creating a manifest in an ordinary VS project folder makes it a source of a template.

A high-level set of steps is:

- In the project folder, just create a subfolder 'content'.
- Move all contents to that 'content' subfolder.
- In the project folde

[2017-04-26 13:41] petrsvihlik opened #13 "Migrate the application to ASP.NET Core MVC"
Target ASP.NET Core version: [2.1.0](https://blogs.msdn.microsoft.com/webdev/2018/05/30/asp-net-core-2-1-0-now-available/)

**Expected changes:**
- NuGet packages:
  - microsoft.* and system.* should be fine (they should have their .net standard alternative)
  - anglesharp supports netstandard = ok
  - kenticocloud.* supports netstandard = ok
  - jquery&bootstrap are not dependent on clr = ok
  -

[2017-04-28 14:44] JanLenoch opened #14 "Bug: The links to the first article in the Home page have wrong URLs"
The URLs don't take the UrlPattern property as a source.

Originally reported by Radek Malecek.

[2017-04-28 14:49] #14 closed

[2017-05-05 13:22] JanLenoch opened #15 "Replace Enumerable.First() with more defensive logic"
In [ContactsController](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Controllers/ContactsController.cs), [HomeController](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Controllers/HomeController.cs), [Home view](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Views/Home/Index.cshtml), [Coffee view](https://github.com/Kent

[2017-05-13 00:48] VarinderS opened #16 "Secure Sections"
Hope I'm not missing something obvious.

What would be the general way to go about putting certain sections (received from kentico cloud) behind a login screen.

[2017-05-19 14:32] petrsvihlik commented on #16
Well, typically you'd decorate the respective controllers with the [`[Authorize]`](https://docs.microsoft.com/en-us/aspnet/core/security/authorization/simple) attribute, add one or more identity providers for authentication and implement a login page.
The same as you would do for any other MVC application, no real difference there.

However, keep in mind that all content in the "Published" state i

[2017-05-20 05:46] VarinderS commented on #16
Hi Peter,

That makes sense - cheers

I'll close this thread

[2017-05-20 05:46] #16 closed

[2017-06-29 17:37] petrsvihlik opened #18 "Multilingual example"
https://kenticocloud.com/blog/kentico-cloud-webinar-introducing-content-localization

[2017-07-03 15:23] petrsvihlik commented on #3
fixed in 4f37039faec67dbb54b76aaa3cd3bb3ebf168898

[2017-07-03 15:23] #3 closed

[2017-07-03 15:24] petrsvihlik commented on #2
fixed in 4f37039faec67dbb54b76aaa3cd3bb3ebf168898

[2017-07-03 15:24] #2 closed

[2017-08-07 13:45] Steve-Fenton commented on #15
I notice that the listed areas are using FirstOrDefault now - is more required to close this issue down? If so, I'm happy to contribute.

[2017-08-07 13:51] #18 closed

[2017-08-07 13:51] petrsvihlik commented on #18
implemented by Kentico

[2017-08-07 14:14] Steve-Fenton opened #22 "Help Rookies With App Settings"
Hello,

I followed the docs to set up the project against my sample account and added the three config items to the web.config.

I didn't spot that the Project ID was already at the bottom of the app settings, so the requests were being sent to the wrong account and authorization was failing with:

And under the hood:

My suggestion is to move the existing ProjectId app setting up and separate it

[2017-08-07 14:49] petrsvihlik commented on #15
The issue is still actual but let me rephrase it a little bit. The site should still be functional* if there are no (zero) content items of the following types:
- coffee
- brewer
- accessory
- article
- cafe
- fact about us
- grinder
- hero unit

*functional == the site doesn't throw any exceptions == all exceptions are either handled or prevented by null checks (the content is just not displayed)

[2017-08-07 15:00] petrsvihlik commented on #22
This is primarily an opinion-based issue. Some people would be more likely to notice the key if it were in the top of the appSettings section, some would not.

Anyway, we're preparing a brand new way of configuring the sample application which removes the need of editing the web.config entirely. (You can have a look in the [galleries_selfconfig](https://github.com/Kentico/cloud-sample-app-net/tree

[2017-08-07 15:00] #22 closed

[2017-08-08 13:49] petrsvihlik commented on #15
if you want to pick it up @Steve-Fenton just leave a note here, please. thanks!

[2017-08-09 07:36] Steve-Fenton commented on #15
Hi @petrsvihlik, I'll take a look. Any preference on the test project in terms of unit testing frameworks?

[2017-08-09 08:34] petrsvihlik commented on #15
@Steve-Fenton We prefer nunit for .NET Framework and xunit for .NET Core.

If you need to reference any other library (e.g. for mocking) the rule of thumb is to use libraries that target .NET Standard. So e.g. Moq or FakeItEasy will do.

[2017-08-14 12:47] Steve-Fenton commented on #15
Hi @petrsvihlik - I'm hitting a few problems creating mocks for some of the types, as they are sealed and have internal-only constructors, for example `DeliveryItemListingResponse<Coffee>`. Is there any chance of getting an interface over these types... or are there any suggestions for how I could mock these types?

Thanks,

Steve

[2017-08-14 13:09] petrsvihlik commented on #15
Hi @Steve-Fenton , yes...it should be possible since yesterday :)

Read more [here](https://forums.kenticocloud.com/discussion/comment/157#Comment_157) and [here](https://github.com/Kentico/delivery-sdk-net/wiki/Faking-responses).

[2017-08-15 08:45] Steve-Fenton commented on #15
@petrsvihlik brilliant stuff. I'll update the packages and get working on this. Thanks for the information.

[2017-08-16 11:13] petrsvihlik commented on #22
the auto-configuration has been merged...it should be now much easier for rookies to configure the app :)

[2017-08-17 07:56] Steve-Fenton commented on #22
👍 I just tried it out - very simple.

[2017-08-21 10:06] Steve-Fenton commented on #15
Hello,

I have been testing this using a web crawler against my local instance, as the amount of changes I would have to make in order to bring the views under test is monumental.

I ran a full crawl, then started un-publishing various content items from my copy of the demo data.

The errors I found from this testing are:

 1. **AboutUsController** Line 21: null Facts -> foreach (var fact in respo

[2017-08-22 15:41] petrsvihlik commented on #15
@Steve-Fenton last thing before we close this issue. Could you please verify the following three scenarios?

- When home page is missing Hero image, it ends up with an unhandled exception
- When home page is missing content variants for personalization, it ends up with unhandled exception
- ContactsControler - If there are no Cafes, throws exception on .First()

They were reported some time ago so

[2017-08-23 10:32] Steve-Fenton commented on #15
* When home page is missing Hero image, it ends up with an unhandled exception

I have tested using "unpublish" on "Home page hero unit" and there are no errors.

![no-hero](https://user-images.githubusercontent.com/1036595/29611742-a65a971e-87f6-11e7-9a8d-601f52037a42.png)

 * When home page is missing content variants for personalization, it ends up with unhandled except

I'm not sure which cont

[2017-08-23 11:13] petrsvihlik commented on #15
👏 :tada: 👌  thanks for your help, @Steve-Fenton !

[2017-08-23 11:13] #15 closed

[2017-09-04 14:17] petrsvihlik opened #30 "Replace hardcoded content type and element names with generated ones"
In order to follow the best practices, the sample app should use [generated content type and content element code names](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Models/ContentTypes/Cafe.cs#L15) instead of hard-coded strings.

**Content type code names:**
* Use `new EqualsFilter("system.type", DancingGoat.Models.Codename)` instead of [`new EqualsFilter("system.type",

[2017-09-04 14:19] petrsvihlik opened #31 "Implement navigation according to the best practice"
Implement navigation according to: https://kenticocloud.com/blog/managing-navigation-menus-in-kentico-cloud

Blocked by: missing sample content in the reference project (975bf280-fd91-488c-994c-2f04416e5ee3)

[2017-09-04 14:31] petrsvihlik opened #32 "Streamline the selection of elements to be loaded into models"
**Blocked by: #35**

### Motivation

Currently, the developer needs to name elements that should be loaded from KC. If the data is used at multiple places, it's hard to keep track of what needs to be included in the model at which place.
We'd like to come up with a way of defining elements that are necessary to successfully render a view.

### Design guidelines

An idea was to use the (view)models

[2017-09-13 15:07] petrsvihlik opened #35 "Introduce viewmodels"
### Motivation

We'd like to make views more testable. View models make them decoupled from the business logic models and they also can be easily mocked.

### Design guidelines

Similarly to the EMS'es Dancing Goat site, views should have their own models - viewmodels. It will help separate concerns and layers.

The controllers will take care of mapping viewmodels to models coming from the data la

[2017-09-19 14:55] petrsvihlik opened #37 "Create a sample unit test for a controller"
# Motivation
We'd like to comp up with a best practice for testing apps running on .NET Delivery SDK for Kentico Cloud.

# Solution

- [ ] Add a new testing project (xunit) that will reference the [DancingGoat project](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/DancingGoat.csproj)
- [ ] Create an example unit test that would test controller by providing mocked response

[2017-10-10 14:04] petrsvihlik opened #40 "Enrich the configuration wizard with Preview mode"
Let the user configure also the preview mode via the [configuration wizard](https://github.com/Kentico/cloud-sample-app-net/tree/master/DancingGoat/Areas/Admin).

- it should be possible to enter the preview key by hand
- it should be possible to load the default preview key for the default project (== web.config will contain `DefaultPreviewApiKey` with the value)

[2017-11-01 06:23] charithsoori commented on #13
@petrsvihlik This task is interesting. Are you expecting a single pull request? And also do you have a separate GitHub branch for this?

[2017-11-01 14:17] petrsvihlik commented on #13
@charithsoori let me please check with my colleagues what the exact expectations are. i'll get back to you soon.

[2017-11-06 17:19] petrsvihlik commented on #13
Good news @charithsoori ! You can start working on it :)

Regarding the workflow:
- I gave you write permissions to the repository which means that you can create own branch next to master and start pushing the code there.
- We won't merge it to `master` until it's done and thoroughly tested. The code reviews and testing will be done by @JanLenoch who will also provide you with guidance and/or ass

[2017-11-07 14:25] charithsoori commented on #13
Indeed a great news @petrsvihlik .
- The git-flow you suggested is very clean and ill send pull requests to migration branch from my fork.
- The initial technical spec is very clear.
Ill work start work on this.

[2017-11-23 13:55] JanLenoch opened #43 "Add support for content type snippets"
Kentico Cloud now supports so called [content type snippets](https://help.kenticocloud.com/define-content-structure/structure/using-content-type-snippets). These are sets of content elements that can be added to content types to enrich their structure.

They allow you to add several content elements that are managed in one single place, similarly to how inheritance in object oriented programming w

[2017-12-01 15:01] JanLenoch commented on #13
Hi @charithsoori ,

How is it going with the conversion? I was wondering if there's anything I could help you with. If so, just let me know.

Jan

[2017-12-01 15:08] charithsoori commented on #13
Hi @janlenoch
Bit  away for a vacation these days and haven’t started the task yet . I’ll update you soon when I start the task.

[2017-12-04 11:36] JanLenoch commented on #13
Cool, no pressure. If there's anything I can help with, just let me know.

[2017-12-08 10:52] Suzii commented on #43
I have implemented the support for Metadata snippet here: https://github.com/Kentico/cloud-sample-app-net/pull/44

[2017-12-15 13:39] JanLenoch commented on #43
Implemented via #44

[2017-12-15 13:39] #43 closed

[2018-01-12 11:16] JanLenoch opened #49 "Creating a new sample project fails"
Upon creating a new sample project via the administration section, the request fails with 400 bad request.

Investigation: There has been an unannounced breaking change in the API surface.

[2018-01-19 09:51] petrsvihlik opened #51 "Add an extra field for the Personalization tracking code to the setup wizard"
- [ ] Add an input field for the [Personalization tracking code](https://developer.kenticocloud.com/docs/personalizing-content) to the [setup wizard](https://github.com/Kentico/cloud-sample-app-net/tree/master/DancingGoat/Areas/Admin)

[2018-01-19 09:55] petrsvihlik opened #52 "Add error logging"
# Motivation
Sometimes, we receive error reports regarding this sample app. These reports lack detailed information. In some cases, the app just returns `500: Internal Server Error`.

# Solution
Use a simple error logging library such as [Serilog](https://serilog.net/) to:
- [ ] catch errors in controllers and especially razor views

Make sure that the logging is configurable (verbosity/output for

[2018-05-03 08:52] winklertomas opened #61 "Broken link on About us page"
The link "the way we roast coffees" on About us page leads to Page not found.

[2018-05-09 10:59] Steve-Fenton commented on #61
Should this be fixed in the content, or by adding additional routes?

It _could_ be solved by adding routes to catch all situations where there is no language in the URL - one would be needed for each localized route. Otherwise, the link in the content (which is an en-US page) could be updated to point at the en-US route: ```/en-us/articles/on-roasts```

            routes.MapRoute(

[2018-05-09 11:47] petrsvihlik commented on #61
@JanLenoch could you please comment on that?

[2018-05-10 12:56] JanLenoch commented on #61
Sure! What @Steve-Fenton says is correct, however, there is another, slightly more elegant solution: to utilize the CultureInfo.CurrentUICulture.Name value in the [CustomContentLinkUrlResolver](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/ContentLinkUrlResolver/CustomContentLinkUrlResolver.cs).

The culture is being set in the [LocalizedMvcRouteHandler](https://github.co

[2018-05-30 06:11] MartinaFarkasova commented on #61
Hi guys, I found other broken links in the "Coffee processing techniques" article that lead to "Page not found". Both of them are leading to coffee products: Kenya Gakuyuni AA and Brazil Natural Barra Grande.
I guess the problem might be in the CustomContentLinkUrlResolver.cs since it links products via $"/products/{link.UrlSlug}";  Also, the lang codename doesn't match.

Currently used link: /en-

[2018-06-01 06:50] michalpaukert opened #69 "Check for null parameters in LanguageClient"
Check for null parameters In [LanguageClient](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Localization/LanguageClient.cs)
We should do it like it is implemented in method
`public Task<DeliveryItemResponse<T>> GetItemAsync<T>(string codename, IEnumerable<IQueryParameter> parameters = null)`

[2018-06-08 08:36] JanLenoch commented on #61
Well spotted, @MartinaFarkasova ! Pushed https://github.com/Kentico/cloud-sample-app-net/commit/47ec62a5d29f3efa3c43383be2e6f3d5c5f8a7f3 to finish the fix.

[2018-06-08 10:27] #61 closed

[2018-09-04 08:35] petrsvihlik commented on #8
fixed in #11

[2018-09-04 08:35] #8 closed

[2018-09-04 08:43] petrsvihlik commented on #51
not relevant at the moment

[2018-09-04 08:43] #51 closed

[2018-09-11 07:30] petrsvihlik commented on #31
we have a working sample here: https://github.com/Kentico/cloud-articles-examples/tree/master/cloud-example-navigation

there's no added value in implementing this here

[2018-09-11 07:30] #31 closed

[2018-09-11 08:16] petrsvihlik commented on #40
this is not relevant at the moment.

[2018-09-11 08:16] #40 closed

[2018-09-11 10:16] JanLenoch opened #76 "Add a test project"
**Blocked** by #35 .

### Motivation

The sample application is often used to demo the overall concept of headless CMS to non-technical people. It is highly undesired to see exceptions or perhaps missing pieces of content in the output pages.

### Proposed solution

Once the application is ported to ASP.NET Core MVC, it will make sense to add a test project.

- [x] Create an example unit test that

[2018-09-11 10:19] JanLenoch commented on #69
Replicating the same checks from the original `DeliveryClient` to the `LanguageClient` wouldn't give us the required quality guarantees. It would rather make sense to add a test project as per #76 .

[2018-09-11 10:19] #69 closed

[2018-09-11 11:50] JanLenoch commented on #37
Replaced by #76 .

[2018-09-11 11:50] #37 closed

[2018-09-21 09:39] JanLenoch opened #77 "Update the CustomTypeProvider with GetCodename"
### Motivation

After https://github.com/Kentico/delivery-sdk-net/pull/121 , the provider should also be able to return codename based on System.Type. The sample app could showcase that.

### Proposed solution

Add the method to the provider. You can use a code generator https://github.com/Kentico/cloud-generators-net.

### Reference

* https://github.com/Kentico/delivery-sdk-net/issues/101

[2018-10-03 08:21] petrsvihlik opened #78 "Spike: Try deploy to zeit"
### Motivation

It would be nice to have a live demo of the site. Ideally, we'd like to have the site deployed as a part of the build process.

### Proposed solution

Let's try whether Zeit is the right service for us. First, let's try a one-time deployment and then we can talk about integrating it in the CI/CD pipeline.

### Additional context

- https://zeit.co/
- https://www.hanselman.com/blog/

[2018-10-03 08:29] Yusadolat commented on #78
If I get you right, You need someone to deploy this to Zeit right?

[2018-10-03 08:33] petrsvihlik commented on #78
1) Try the deployment to Zeit
2) Come up with configuration (dockerfile?) that we could use to continuously deploy the site

[2018-10-03 08:37] Yusadolat commented on #78
Ohh, I get.

I'm on it :smile:

[2018-10-03 08:40] petrsvihlik commented on #78
Cool @Yusadolat! I've just sent you an invitation to the project. I'll be able to assign the issue to you once you accept it.

[2018-11-01 12:38] #77 closed

[2018-11-18 22:00] petrsvihlik commented on #78
no response -> unassigning

[2018-12-10 11:22] petrsvihlik commented on #35
Cool! Thanks for letting us know. We may improve the documentation based on this later.

[2019-01-13 04:54] weng271190436 commented on #13
Is .net core 2.1 still the target? 2.2 has been released.

[2019-01-13 10:05] petrsvihlik commented on #13
Yeah, 2.2 is better, of course.

[2019-03-22 08:56] petrsvihlik opened #90 "Migrate the application to ASP.NET Core MVC"
Target ASP.NET Core version: [3.1](https://docs.microsoft.com/en-us/aspnet/core/migration/22-to-30?view=aspnetcore-3.0&tabs=visual-studio)

**Expected changes:**
- NuGet packages:
  - microsoft.* and system.* should be fine (they should have their .net standard alternative)
  - anglesharp supports netstandard = ok
  - kenticocloud.* supports netstandard = ok
  - jquery&bootstrap are not dependent

[2019-03-22 08:57] petrsvihlik commented on #13
moved to: https://github.com/Kentico/delivery-sdk-net/issues/158

[2019-03-22 08:57] #13 closed

[2019-04-05 12:54] tsoco opened #91 "Error on build inheriting ICodeFirstTypeProvider in DancingGoat.Models"
### Brief bug description

After cloning the repository to my local machine and opening the solution in Visual Studio 2017, I proceeded to build the project before attempting to run it. Upon running, I'm met with an error as follows:

"Error	CS0246	The type or namespace name 'ICodeFirstTypeProvider' could not be found (are you missing a using directive or an assembly reference?)	DancingGoat	C:\Use

[2019-04-05 13:32] Simply007 commented on #91
Hello @tsoco,
it is probably caused that the nuget reference was updated to v [10.0.X](https://github.com/Kentico/delivery-sdk-net/releases/tag/10.0.0) of Kentico Cloud Delivery SDK .Net.

There was a breaking change since v 9.0 by renaming the interfaces - in your case the change is ICodeFirstTypeProvider to ITypeProvider.

The quick fix is to rename it manually in your code.

I will take a look

[2019-04-05 14:15] Simply007 commented on #91
I have reproduced your error.

It was caused by upgrading the nuget packages. I have created a pull request #92 with the Kentico Cloud packages upgrade incl. breaking change fixes.

The major version of the SDK usually contains breakincg changes, I would not recommend to require major upgrade of all packages for solutions.

[2019-04-06 19:56] #91 closed

[2019-05-15 12:36] JanLenoch commented on #90
Hey guys, want to collaborate w/ David Fowler and get some first-class guidance? See https://twitter.com/davidfowl/status/1128522247889539072

BTW, I'll discuss that with my team so that I can jump in (in case no one else can).

[2019-05-15 12:38] Simply007 commented on #90
I agree.

[2019-05-29 11:06] makma opened #97 "Replace hardcoded sample project items count in SelfConfigController."
### Motivation

In *SelfConfigController.cs* there is a hardcoded *PROJECT_EXISTENCE_VERIFICATION_REQUIRED_ITEMS* constant which is used in the wizard.

This wizard checks if the Delivery API has already accessible all items in the user's Dancing Goat project and if the project is fully accessible. If the count of all items in the project is more or equals to items from constant then we consider t

[2019-07-16 08:06] vilemj-Viclick opened #98 "After deploying to Azure, the app returns 500 Internal server error."
### Brief bug description

I went through the whole deployment process initiated by the "Deploy to Azure" button in the Readme.
![image](https://user-images.githubusercontent.com/13902120/61276613-aa044500-a7b0-11e9-8941-1fb4a4702409.png)
The deployment succeeded. However when accessing the newly deployed app, I get this:
![image](https://user-images.githubusercontent.com/13902120/61276710-d4ee990

[2019-07-16 08:31] vilemj-Viclick commented on #98
The app is running here:
https://portal.azure.com/#@kenticosoftware.onmicrosoft.com/resource/subscriptions/851f5ea7-76df-4b80-8d7f-64004a218684/resourceGroups/cloud-sample-app-net5a38/providers/Microsoft.Web/sites/cloud-sample-app-net5a38/logStream

If you can't access it let me know. I should be able to grant you access I think.

[2019-07-30 12:39] makma commented on #98
Reason:
![azure](https://user-images.githubusercontent.com/10922372/62129747-c38cad00-b2d7-11e9-9724-7689973e6409.png)

[2019-08-15 05:48] petrsvihlik commented on #98
fixed in #100

[2019-08-15 05:48] #98 closed

[2019-08-20 14:26] amoraitis commented on #90
Working👨🏻‍💻 on this at #101. You could assign this to me, also backup the current master branch to a new one.

[2019-08-20 20:29] petrsvihlik commented on #90
Thanks for working on this @amoraitis! We'll back up the master branch just before merging the PR.

[2019-08-23 18:23] amoraitis commented on #90
@petrsvihlik @JanLenoch @Simply007
Question: Is the [ControllerBase](https://github.com/Kentico/cloud-sample-app-net/blob/master/DancingGoat/Controllers/ControllerBase.cs)'s `CreateDeliveryClient()` a service we have to register in the Startup.cs file or what?

**I cannot find out the value of this method in the specific controller**

My propose:

1. Create a service which will implement the [`Cre

[2019-08-25 12:59] petrsvihlik commented on #90
I'd stick with the current implementation for now.
Btw - ` var projectId = _deliveryOptions.ProjectId ?? _settingProvider.ProjectId?.ToString();` the value is not used anywhere. Previously, it was used for initializing the `_deliveryOptions.ProjectId` if it was null...

[2019-10-16 16:24] xantari commented on #90
Hi,

My suggestion is to have both .NET samples available (the current full framework example), as well as a new .NET Core sample.

[2019-11-05 13:25] petrsvihlik commented on #90
hi @xantari the idea is to backup the current (full .NET framework) sample site in a separate branch/git tag and continue maintaining the only the .net core one. it makes sense since all the .net frameworks will become .NET 5 in the future: https://devblogs.microsoft.com/dotnet/introducing-net-5/

[2019-11-11 16:01] xantari opened #110 "Extract HTML helpers (edit mode panel, etc.) to a separate library"
### Motivation

Some HTML helpers can be reused in production projects.

### Proposed solution

Extract HTML helpers to a separate project: https://github.com/Kentico/kontent-aspnetcore

Outstanding:
- [x] Convert HTML helpers to tag helpers (both in the [sample app](https://github.com/Kentico/kontent-sample-app-net) and in the [boilerplate](https://github.com/Kentico/kontent-boilerplate-net)
- [x

[2019-12-13 08:45] petrsvihlik commented on #90
.NET Core 3.1 prototype can be found in https://github.com/Kentico/kontent-sample-app-net/tree/aspnet-core-2.2

**fixed:**
1. fixed layout
2. fixed childactions -> view components
3. switched to IConfiguration
4. fixed store, map, contact us JS
5. deliveryclient -> factory (for multilingual)
6. selfconfig action filter -> via DI
7. selfconfig get shared pid & get from app pid
8. fixed datetime for

[2020-02-07 14:03] petrsvihlik commented on #90
1. multilingual - done
2. editpanel - fixed and tested
3. wizard - fixed and tested
----------------------------
outstanding:
- hot reload of DeliveryOptions
- clean up the js/css mess and bundling

[2020-02-11 14:06] #90 closed

[2020-02-11 14:08] petrsvihlik commented on #90
done!

[2020-02-14 08:42] petrsvihlik commented on #78
zeit now 2.0 no longer supports docker :(((

[2020-02-14 08:42] #78 closed

[2020-02-14 13:47] #30 closed

[2020-02-16 19:22] #35 closed

[2020-02-16 20:56] petrsvihlik commented on #76
https://docs.microsoft.com/en-us/aspnet/core/mvc/controllers/testing?view=aspnetcore-3.1

[2020-02-19 12:48] petrsvihlik commented on #32
doesn't make much sense now

[2020-02-19 12:48] #32 closed

[2020-02-19 12:48] petrsvihlik commented on #76
we have a sample unit test project

[2020-02-19 12:48] #76 closed

[2020-03-13 10:17] petrsvihlik commented on #110
Outstanding:
- [ ] Extract Image/Asset HTML helpers from https://github.com/Kentico/kontent-sample-app-net
- [ ] Consolidate with Image/Asset HTML helpers from https://github.com/Kentico/kontent-boilerplate-net
- [ ] Extract Edit Panel HTML helpers from https://github.com/Kentico/kontent-sample-app-net
- [ ] Convert HTML helpers to tag helpers

[2020-05-20 06:32] manojreddygmr opened #111 "Unable to Deploy to AWS Bean Stalk from Bamboo"
### Brief bug description
I am trying to deploy to Beanstalk from bamboo but failing with errors below whereas if I deploy from VS 2017 to the same env deployment is getting succeeded.

 Command hooks (HooksExecutor.exe appdeploy\enact) failed
2020-05-20 05:59:50,865 [ERROR] Error encountered during build of Hook-EnactAppDeploy: Command hooks failed
Traceback (most recent call last):
  File "cfnbo

[2020-05-21 08:47] petrsvihlik commented on #111
Hi @manojreddygmr ,
this seems like a problem with the deployment configuration rather than with the sample site itself. This sample site is a standard ASP.NET Core MVC project that follows all the Microsoft's conventions and best practices. We regularly test deployments to Azure Web Apps and they work fine.

Please try to consult the problem with Amazon AWS support first. If you run into any runt

[2020-05-21 08:47] #111 closed

[2020-05-26 21:03] petrsvihlik commented on #110
## Configuration
@ewomack2000 the "edit mode" code was rewritten to use tag helpers
- [EditLinkTagHelper](https://github.com/Kentico/kontent-sample-app-net/blob/master/DancingGoat/TagHelpers/EditLinkTagHelper.cs)
- [EditPanelTagHelper](https://github.com/Kentico/kontent-sample-app-net/blob/master/DancingGoat/TagHelpers/EditPanelTagHelper.cs)

which depend on the `IEditLinkBuilder` which can be inj

[2020-05-26 21:05] petrsvihlik commented on #110
Oh yeah, and I almost forgot - I cleaned up the readme. It should contain less fluff and more up-to-date info.

https://github.com/Kentico/kontent-sample-app-net/blob/master/README.md

[2020-05-26 21:28] xantari commented on #110
Yeah those EditPanel ones are hard. I agree they probably should be left only in the dancing goat sample and not in the main nuget packages.

[2020-05-27 08:56] petrsvihlik commented on #110
thanks for the confirmation @xantari !
I'm closing this issue now...let's see if we identify more stuff that could be extracted to https://github.com/Kentico/kontent-aspnetcore

[2020-05-27 08:56] #110 closed

[2020-05-27 16:26] kentico-michaelb opened #112 "Localized URLs don't return expected localized pages"
### Brief bug description

Entering a URL containing the Spanish culture code or localized route without culture code directly into the address bar returns the default English version of the page or returns 404.

Using the navigation bar also yields unexpected address bar URLs.

**Actual vs. Expected Results:**
1. Directly entered URLs and results:
- **https://localhost/es-ES/Inicio** == results i

[2020-05-27 19:38] petrsvihlik commented on #112
@tomasjurasek could you please take a look at the issues? Mike is working on an article with the best practices for navigation so we need to resolve the issues here first.

[2020-05-28 09:06] #97 closed

[2020-05-28 09:44] #52 closed

[2020-05-28 09:52] petrsvihlik commented on #52
- added serilog for asp.net core https://github.com/serilog/serilog-aspnetcore
- enabled request logging
- default output to: console + debug window

![2020-05-28 11_41_31-Sample Site—Configuration](https://user-images.githubusercontent.com/9810625/83125969-7dab9b80-a0d8-11ea-90ff-508102360864.png)

the output seems to be very clear and concise

added an extra answer to: https://stackoverflow.com/

[2020-05-28 09:53] petrsvihlik commented on #52
@kentico-michaelb @pokornyd  @matus666  might be interesting for our support ;)

[2020-05-28 13:20] tomasjurasek commented on #112
Hi,

I found some problems with an ActionLink component - this component actually not work correctly with multilingual routing. I replaced this component with classic action link `<a asp-controller="" ... />` in the PR.

[2020-06-05 19:06] tomasjurasek commented on #112
@kentico-michaelb, I don't know if these two scenarios are correct.  The is set up culture provider in the path. If there is no culture, the application don't know which culture used by URL.

* https://localhost/Inicio == results in the English version of the Home page
 Expected result: Spanish home page returned

* https://localhost/Artículos == results in the English version of the Home page
Exp

[2020-06-12 12:52] petrsvihlik commented on #112
@tomasjurasek yeah, these two should return 404

[2020-06-18 20:50] #112 closed

[2020-08-16 23:46] xantari opened #114 "Edit Model Panel target=_blank links should have rel="noopener" added"
This is something that came up during SEO review of our implementation of Kentico, and we had copied this stuff from the dancing goat sample.

The Edit toolbar's / links should have rel="noopener" added whenever there is a target=_blank. It allows the new target window to not have access to the prior windows "window" object in javascript. It's a security best practice item during the Lighthouse te

[2020-08-26 06:44] ondrabus opened #115 "Self config still shows Kentico Cloud logo"
Check out the file https://github.com/Kentico/kontent-sample-app-net/blob/master/DancingGoat/Areas/Admin/Views/Shared/_Layout.cshtml - it contains SVG with Kentico Cloud logo. The overall feel of the page is Kentico-Cloud-like.

![image](https://user-images.githubusercontent.com/18418488/91270006-481a5b00-e778-11ea-9a76-a54a9710cd7c.png)

The page should be updated to have Kentico Kontent look and

[2020-09-21 10:14] #115 closed

[2020-09-21 10:15] petrsvihlik commented on #115
it could use complete redesign but we should wait with that until the product's redesigned. so I only replaced the logo.

[2020-10-05 12:16] hzik opened #116 "Building sample app on Mac OS"
This project configuration contains Windows Powershell paths that cause errors when building the app on Mac OS.

[2020-10-22 11:27] petrsvihlik commented on #116
Suggested solution:

- add an OS condition to the csproj file ` Condition=" '$(OS)' == 'Windows_NT' "`
  - see https://stackoverflow.com/questions/43499222/how-to-get-the-current-operating-system-in-msbuild

If it's possible to make it run on Mac, let's add a similar condition+an `.sh` script to the project. If not, let's stick with the `Windows_NT` condition only.

[2020-10-22 11:27] petrsvihlik commented on #116
Once the solution is ready, let's fix it in https://github.com/Kentico/kontent-boilerplate-net too.

[2020-11-16 10:26] #114 closed

[2020-11-16 10:27] petrsvihlik commented on #114
well spotted :) fixed

[2020-11-16 23:11] petrsvihlik commented on #116
I unintentionally solved it in a different project --> reassigning to myself.

[2020-11-16 23:42] #116 closed

[2021-01-25 09:14] petrsvihlik opened #120 "Add an example of the languages endpoint usage"
# Motivation
The Delivery API newly supports [retrieving languages](https://github.com/Kentico/kontent-delivery-sdk-net/pull/256). Let's demonstrate its usage.

# Solution
Remove hardcoded language codes from:

https://github.com/Kentico/kontent-sample-app-net/blob/2532c0dbfd77dcf8803671534ab8a967206c30b2/DancingGoat/Views/Shared/_Layout.cshtml#L44

https://github.com/Kentico/kontent-sample-app-ne

[2021-01-25 19:16] #120 closed

[2021-05-27 07:13] jankalfus opened #127 "CI Build fails for PRs outside of this repo"
The CI build fails for PRs made from outside of this repo. It works for branches pushed into this repo directly only.

See https://github.com/Kentico/kontent-sample-app-net/pull/123#issuecomment-848664462

[2021-05-27 07:27] Simply007 commented on #127
The first thing would be to add `-Force` argument to the `Remove-Item` command in `publish.ps1` - https://github.com/Kentico/kontent-sample-app-net/blob/master/publish.ps1#L3

[2021-06-03 16:42] PetrSvirak opened #130 "Use smart-link SDK instead of custom made tag helper"
### Motivation

The project currently uses a custom-made tag helper that allows for opening Kontent UI after a click. It would be superb if it could leverage kontent-smart-link SDK and so Dancing Goat was made Web Spotlight ready.

### Proposed solution

Use [UMD bundle](https://github.com/Kentico/kontent-smart-link#umd-bundles) instead of currently used (EditLinkTagHelper)[ https://github.com/Ken

[2021-06-04 12:00] Simply007 opened #131 "Fill Spanish resource file"
### Brief bug description

What went wrong?

### Repro steps

1. Run app
2. Go to `~/es-ES/afiliados/indice`
3. See untranslated resource strings

### Expected behavior

Translated resource strings.

### Additional context

Fill https://github.com/Kentico/kontent-sample-app-net/blob/master/DancingGoat/Resources/SharedResource.es-ES.resx
### Screenshots

![image](https://user-images.githubuserconte

[2021-06-04 12:53] Simply007 commented on #130
Related branch: https://github.com/Kentico/kontent-sample-app-net/tree/webspotlight

[2021-09-21 15:38] Simply007 commented on #127
Fixed and tested in #133

[2021-09-21 15:39] Simply007 commented on #127
Fixed and tested in #133

[2021-09-21 15:39] #127 closed

[2022-07-12 13:28] Simply007 opened #137 "Switching the language does not preserve current route"
### Brief bug description

If you navigate to a specific page (other than home) and switch languages - the site is redirected to Home rather than styling on the page you were switching the language from.

### Repro steps

1. Go to '~/en-US/cafes'
2. Click on Language selector and select Spanish
4. You are redirected to `~/es-ES/inicio`

### Expected behavior

You should beredirected to `~/es-ES/ca

[2022-07-27 12:31] tilakmali24 opened #138 "Css file is missing"
### Brief bug description

site.css file is missing.

[2022-08-23 15:00] erikakus opened #139 "Deprecated packages upgrade"
### Motivation

Solution is not buildable when trying to upgrade deprecated package "Kentico.AspNetCore.LocalizedRouting" to "AspNetCore.Mvc.Routing.Localization"

### Proposed solution

I see there is already work in progress in branches, however I wanted to ask about plans and timeline for releasing updates.

[2022-08-25 07:56] Simply007 commented on #139
Hello @erikakus,

We are migrating the repositories to the new [kontent-ai GitHub organization](https://github.com/kontent-ai). As a part of that, we are polishing the samples as well.

I have already tested to accommodate the replacement package, but I found an issue in the taghelper (fixed locally in https://github.com/Kentico/kontent-sample-app-net/commit/c33ea6cd4d368d5f4337942c24704f86d583fff

[2022-10-03 06:30] Simply007 commented on #138
We need to make more explicit, that `npm run build` will produce the CSS file in the README: https://github.com/kontent-ai/sample-app-net#getting-started. So if you follow the Getting started section, you should end up with CSS file being generated.

Note: It is also part of the CI pipeline - https://github.com/kontent-ai/sample-app-net/blob/master/.github/workflows/integrate.yml#L28

[2022-10-17 10:44] #138 closed